{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!-- Style block -->

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
<!-- popular movie section  -->

<div class="container">
    <form class="pt-5">
        <input type="text" name="movie_query" placeholder="Search" class="form-control">
        <br>
        <input type="button" value="Submit" class="btn btn-info pt-2">
    </form>
</div>
<h3> Popular Movies </h3>
<ul>
    {{macro.displayMovieList(popular)}}
</ul>

<!-- upcoming  movie section  -->

<h3> Upcoming Movies </h3>
<ul>
    {{macro.displayMovieList(upcoming)}}
</ul>

<!-- Now  showing section  -->

<h3> Now Showing</h3>
<ul>
    {{macro.displayMovieList(now_showing)}}
</ul>
{% endblock %}