{% extends 'base.html' %}
{% import 'macros.html' as macro%}
<!--Content block -->

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 posterPath pt-3">
            <img src="{{movie.poster}}" alt="{{movie.title}}" class="img-repsonsive" height="250px" width="250px">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 movie-details">
            <h3>{{movie.title}}</h3>
            <p class="overview">{{ movie.overview }}</p>
            <p class="ratings"><b>{{movie.vote_average}}</b> - <i>{{movie.vote_count}} votes</i></p>
            <!-- <a href="/movie/review/new/{{movie.id}}" class="ratings"> write a new review</a> -->
        </div>
    </div>
    <div class="row pt-3">

        {% if reviews %}
        <h1>Reviews</h1>
        <hr>
        {{macro.displayReviews(reviews)}}
        {% else %}
        <h3>This movie has no reviews</h3>
        <br>
        <div class="col-sm-12 col-md-6 col-lg-4 movie-details">
            <a class="btn btn-info btn-sm text-center" href="/movie/review/new/{{movie.id}}"> Write a new review</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}